.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__link {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 8px 10px;
}

.footer__img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .footer {
    padding: 8px;
    gap: 16px;
  }

  .footer__link {
    padding: 8px 10px;
  }

  .footer__img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 499px) {
  .footer {
    justify-content: flex-start;
    gap: 12px;
    padding: 0;
    padding-bottom: 30px;
  }
  .footer__socials {
    gap: 23px;
  }

  .footer__link {
    padding: 3px 5px;
  }

  .footer__img {
    width: 13px;
    height: 12px;
  }
}
