html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
}

@font-face{
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.ttf") format("ttf"),
    url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.ttf") format("ttf"),
     url(../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Montserrat";
  src: local("Montserrat-Bolt"),
    url("../fonts/Montserrat-Bold.ttf") format("ttf"),
     url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Montserrat";
  src: local("Montserrat-semiBold"),
    url("../fonts/Montserrat-SemiBold.ttf") format("ttf"),
     url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  font-weight: 400;
  min-width: 320px;
}

.container{
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 50px;
}

.flex{
  display: flex;
}

.visibility-hidder{
  visibility: hidden;
  margin: 0;
  font-size: 0;
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-offset{
  padding: 48px 0;
}

:root{
  --black: #000;
  --white: #FFFFFF;
  --orange: #FF9900;
  --light-gray: #cccccc;
  --gray:#cacaca;
  --dark-gray: #666666;
  --dark:#414141;
  --light-orange: #FFB84D;
  --dark-orange: #E1670E;
}

.title{
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
}

.caption{
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.descr{
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}

.links{
  padding: 18px 37px;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

/*header*/

.header{
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0 0 32px 32px;
  background-color: var(--white);
  box-shadow: 0 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container{
  align-items: center;
}
.header__logo{
  margin-right: 40px;
  width: 225px;
  flex-shrink: 0;
}
.header__logo-image{
  display: block;
  width: 100%;
  height: auto;
}

.header__nav{
  margin-left: auto;
  margin-right: 85px;
}
.header__list{
  flex-wrap: wrap;
  gap: 10px 85px;
}
.header__list-item{
  flex-shrink: 0;
}
.header__link{
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
.header__link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header__link:focus{
  outline: none;
}
.header__link:focus-visible:not(:hover){
 outline: 2px solid var(--orange);
 outline-offset: 3px;
}
.header__link:hover::after{
transform: scaleX(1);
}
.header__link:active{
  color: var(--dark-orange);
}
.header__link:active::after{
  background-color: var(--dark-orange);
}
.header__searc{
  display: flex;
  width: 24px;
  height: auto;
  flex-shrink: 0;
  color: var(--black);
  transition: fill 0.3s ease, stroke 0.3s ease, outline 0.3s ease;
}
.header__searc:focus{
  outline: none;
}

.header__search:focus-visible{
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.header__search:hover:not(:focus-visible) rect{
  fill: var(--orange);
  transition: fill 0.3s ease, stroke 0.3s ease, outline 0.3s ease;
}

.header__search:hover:not(:focus-visible) path{
  stroke: var(--orange);
  transition: fill 0.3s ease, stroke 0.3s ease, outline 0.3s ease;
}

/*payment*/

.payment{
  padding-top: 50px;
  padding-bottom: 25px;
}

.payment__info{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  background-image: url(../img/payment-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.payment__info-block{
  max-width: 100%;
}

.payment__title{
  margin: 0;
  margin-bottom: 23px;
  color: var(--white);
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  max-width: 837px;
}

.payment__desc{
  margin: 0;
  margin-bottom: 89px;
  font-size: 24px;
  max-width: 790px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

.payment__btn{
  padding: 25px 39px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 16px;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.3s ease;
}

.payment__btn:focus-visible{
  outline: none;
  background-color: var(--light-orange);
}

.payment__btn:hover:not(:focus-visible){
  outline: none;
  background-color: var(--light-orange);
}

.payment__btn:active:not(:focus-visible){
  outline: none;
  background-color: var(--dark-orange);
}

/*about-us*/
.about-us{
  padding-top: 25px;
  padding-bottom: 47px;
}

.about-us__cards{
  justify-content: space-between;
}

.about-us__title{
  margin-bottom: 20px;
}

.about-us__desc{
  width: calc(100% - 535px);
  margin-bottom: 50px;
}

.about-us__card-left{
  width: calc((100% - 32px) / 2);
  background-image: url(../img/about-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.about-us__card-info{
  justify-content: space-between;
  margin-top: auto;
  padding: 50px;
  align-items: center;
  background-color: rgba(0,0,0,.7);
	color: white;
  border-radius: 32px;
}

.about-us__card-info-desc{
  max-width: 433px;
  color: var(--white);
  margin-right: 160px;
  font-weight: 700;
}
.about-us__card-info-link{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 2px solid var(--orange);
  border-radius: 16px;
  color: var(--white);
  transition: background-color 0.3s ease;
}

.about-us__card-info-link:focus-visible{
  outline: none;
  background-color: var(--orange);
}

.about-us__card-info-link:hover:not(:focus-visible){
  outline: none;
  background-color: var(--orange);
  transition: background-color 0.3s ease;
}

.about-us__card-info-link:active:not(:focus-visible){
  outline: none;
  background-color: var(--dark-orange);
  transition: background-color 0.3s ease;
}

.about-us__card-right{
  width: calc((100% - 32px) / 2);
}

.card{
  padding: 64px 100px 59px 298px;
  border: 1px solid var(--light-gray);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: 56px 65px;

}

.card:not(:last-child){
  margin-bottom: 32px;
}

.card--top{
  background-image: url(../img/Frame\ 16.svg);
}

.card--bottom{
  background-image: url(../img/Frame\ 12.svg);
}

.about-us__card-caption{
  margin-bottom: 8px;
}

.card__desc{
  max-width: 450px;
  padding-bottom: 5px;
}

/*stages*/
.stages{
  padding-top: 54px;
}

.stages__cards{
  justify-content: space-between;
  gap: 142px;
}

.stages__card-right{
  padding-top: 8px;
}

.stages__title{
  margin-bottom: 34px;
}
.stages__caption{
  margin-bottom: 9px;
}

.stages__descr{
  max-width: 735px;
}

.stages__descr--2{
  margin-bottom: 18px;
}

.stages-link{
  flex-wrap: wrap;
  max-width: 758px;
  gap: 33px;
}

.stages__link-left{
  display: inline-block;
  padding: 20px 38px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 16px;
  transition: background-color 0.3s ease;
}

.stages__link-left:focus-visible{
  outline: none;
  background-color: var(--light-orange);
}

.stages__link-left:hover:not(:focus-visible){
  outline: none;
  background-color: var(--light-orange);
}

.stages__link-left:active:not(:focus-visible){
  outline: none;
  background-color: var(--dark-orange);
}

.stages__link-right{
  display: inline-block;
  padding: 20px 37px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: 1px solid var(--black);
  color: var(--black);
  border-radius: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.stages__link-right:focus-visible{
  outline: none;
  color: var(--white);
  background-color: var(--dark-gray);
}

.stages__link-right:hover:not(:focus-visible){
  outline: none;
  color: var(--white);
  background-color: var(--dark-gray);
}

.stages__link-right:active:not(:focus-visible){
  outline: none;
  color: var(--white);
  background-color: var(--black);
}

/*questions*/

.questions{
  padding-bottom: 100px;
}

.questions__title{
  margin-bottom: 32px;
}

.questions__caption{
  display: block;
  margin-bottom: 8px;
}

.questions__list{
  flex-wrap: wrap;
  gap: 32px;

}

.questions__card{
  width: calc(100% / 3 - 32px * 2 / 3);
  padding: 64px 87px 64px 60px;
  border: 1px solid var(--light-gray);
  border-radius: 32px;
}


/*footer*/

.footer{
  padding-top: 51px;
  padding-bottom: 50px;
  justify-content: space-between;
  background-color: var(--black);
}
 .footer__container{
  justify-content: space-between;
 }
  .footer__left{
    max-width: 252px;
    margin-right: 156px;
}

.footer__logo{
  margin-bottom: 18px;
}

.footer__logo-img{
  margin-right: 12px;
}

.footer__logo{
  align-items: center;
}

.footer__info{
  margin-bottom: 90px;
  width: 251px;
}

.footer__link{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: var(--gray);
  cursor: pointer;
  transition: color 0.3s ease, outline 0.3s ease;
}

.footer__link:focus-visible{
  outline: 2px solid var(--orange);
}

.footer__link:hover:not(:focus-visible){
  outline: none;
  color: var(--orange);
}

.footer__link:active:not(:focus-visible){
  color: var(--dark-orange);
}

.footer__list{
  flex-wrap: wrap;
  max-width: 252px;
  gap: 25px;
}


.footer__social-link svg{
  cursor: pointer;
  fill: var(--dark-gray);
  transition: fill 0.3s ease, outline 0.3s ease;
}

.footer__social-link:focus svg{
  fill: var(--dark-gray);
  outline: 2px solid var(--orange);
}

.footer__social-link:hover:not(:focus) svg{
  fill: var(--orange);
  outline: none;
}

.footer__social-link:active:not(:focus) svg{
  fill: var(--dark-orange);
  outline: none;
}


.footer__center{
  flex-direction: column;
  width: 570px;
  margin-right: 40px;

}

.footer__title{
  margin-bottom: 25px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray);
}

.footer__form-input{
  border-radius: 16px;
  background-color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: transparent;
  margin-bottom: 25px;
  height: 60px;
  padding-left: 24px;
  color: var(--gray);
  transition: color 0.3s ease, background-color 0.3s ease;
  outline: none;
}

.footer__form-input:focus-visible{
  background-color: var(--dark-gray);
  outline: none;
}

.footer__form-input:hover:not(:focus-visible){
  background-color: var(--dark-gray);
  outline: none;
}

.footer__form-input:active:not(:focus-visible){
  background-color: var(--dark-gray);
  color: var(--white);
  outline: none;
}

.footer__form-textarea{
  border-radius: 16px;
  background-color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  resize: none;
  border: transparent;
  padding-left: 24px;
  color: var(--gray);
  padding-top: 14px;
  padding-bottom: 72px;
  margin-bottom: 32px;
  transition: color 0.3s ease, background-color 0.3s ease;
  outline: none;
}

.footer__form-textarea:focus-visible{
  background-color: var(--dark-gray);
  outline: none;
}

.footer__form-textarea:hover{
  background-color: var(--dark-gray);
  outline: none;
}

.footer__form-textarea:active{
  background-color: var(--dark-gray);
  color: var(--white);
  outline: none;
}


.form-wrapper__btn{
  color: var(--white);
  padding: 19px 52px;
  background-color: var(--orange);
  border-radius: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 18px;
  transition: background-color 0.3s ease;
}

.form-wrapper__btn:focus-visible{
  background-color: var(--light-orange);
  outline: none;
}

.form-wrapper__btn:hover:not(:focus-visible){
  background-color: var(--light-orange);
  outline: none;
}

.form-wrapper__btn:active:not(:focus-visible){
  background-color: var(--dark-orange);
  outline: none;
}

.form-wrapper__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.form-wrapper__text {
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}

.form-wrapper__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.form-wrapper__input:checked+.form-wrapper__text::before {
  background-image: url(../img/Check.svg);
  background-size: contain;
  border: none;
  width: 14px;
  height: 14px;
}

.form-wrapper__input:focus-visible+.form-wrapper__text::before {
  outline: none;
  outline: 2px solid red;
  outline-offset: 3px;
}

.footer__right{
  align-self: center;
  max-width: 363px;
}

.footer__descr{
  margin-top: -3px;
  color: var(--gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
